<body>
    <div class="main">
        <nav class="navbar">
            <span style="font-size: xx-large; margin-left: 470px;"><b><i></i></b></span>
        </nav>
        <button type="button" class="btn btn-outline-danger" routerLink="/home">Back</button>

        <button type="button" class="btn btn-outline-primary" routerLink="/admin/adminsignin">Sign in</button>

        <button type="button" class="btn btn-outline-success" routerLink="/admin/adminsignup">Sign up</button>

        <button type="button" class="btn btn-outline-warning" routerLink="/admin/adminsuccess">Hotel List</button>
    </div>
    
</body>