   
*    {
    margin: 0;
    padding: 0;
 }
 .main{
    border-radius: 0px;
    background-color: rgba(176, 238, 105, 0.521);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-position: center;
 }
 .input{
    width:370px;
    position: relative;
    top: 10px;
    left: 50px;
 }
 .input1{
    width:370px;
    position: relative;
    top: -68px;
    left: 800px;
 }
 .input3{
    width:370px;
    position: relative;
    top: -30px;
    left: 50px;
 }
 .input4{
    width:370px;
    position: relative;
    top: -108px;
    left: 800px;
 }
 .input5{
    width:370px;
    position: relative;
    top: -63px;
    left: 800px;
 }
 .input6{
    width:370px;
    position: relative;
    top: -130px;
    left:55px;
 }
 .check{
        width:370px;
        position: relative;
        top: -171px;
        left: 460px;
 }
 .sign-upBtn{
        width:370px;
        position: relative;
        top: -140px;
        left: 400px;
 }
 .btn1{
    margin: 15px;
 }
 .background{
    background-image: url('~src/assets/img/hotelback1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
 
 }
 
 
