.main{
    background-image: url('~src/assets/img/hotelback3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 520px;
    border: 2px solid black;
    margin: auto;
    padding: 15px;
    margin-top: 50px;
}
.main1{
    background-image: url("~src/assets/img/user2.jpg");   
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.input{
    width: 450px;
}
.btn{
    background-color: #f20e31;
    color: white
}

.btn:hover{
    opacity: 0.4;
}
.btn1{
    margin: 10px;
}